/* CSS DE LA PAGE DE CONTACT */


@import url('http://fonts.cdnfonts.com/css/bahnschrift');
* {
    font-family: 'Bahnschrift', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    z-index: 2;
}


/* Le css est simple, j'ai utilisé la librairie d'icone de google sur pas mal de pages, ce qui permet
de rendre les formulaire de ce type plus esthétiques */



.bodyformblock {
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}

.contacttext h1{
    color: white;
    font-size: 3em;
    text-align: center;
    justify-self: center;
    margin-top: 5%;
    
}

.contacttext p{
    color: rgb(187, 255, 93);
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 10%;
    justify-self: center;
    max-width: 80%;
    margin-bottom: 10%;

   
}


.formblock {
    max-width: 35%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(226, 252, 190, 0.4) 5px 5px, rgba(226, 252, 190, 0.3) 10px 10px, rgba(226, 252, 190, 0.2) 15px 15px, rgba(226, 252, 190, 0.1) 20px 20px, rgba(226, 252, 190, 0.05) 25px 25px;    
    background-color: rgba(214, 214, 214, 0.178);
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-top: 10%;
}



.material-symbols-outlined.infoicon {
    font-size: 2em;
    color: white;
    position: relative;
    top: 10px;
    right: 10px;
    
  
  }

  .material-symbols-outlined.textareaicon {
    font-size: 2em;
    color: white;
    position: relative;
    top: -80px;
    right: 10px;
    
  
  }


.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;


    

}

.contact-form input{

    color: white;
    width: 500px;
    height: 50px;
    background-color: rgba(168, 168, 168, 0.281);
    font-size: 1.2em;
    border: 2px solid rgba(218, 218, 218, 0.781);   
    border-radius: 10px;
    padding-left: 25px;
    margin-bottom: 2%;
    margin-top: 2%;

    
    
}




input:focus {
    outline: none;
    border: 2px solid rgb(107, 185, 13);
    overflow: hidden;
}


.contact-form textarea:focus {
    outline: none;
    border: 2px solid rgb(107, 185, 13);
}



input:focus::placeholder {
    color: transparent;
  }


.placeholder {
    color: rgba(218, 218, 218, 0.781);
    position: relative;
    font-size: 1em;
    font-weight: 500;
    top: -65px;
    right: -60px;
    pointer-events: none;
    cursor: default;
    display: none;
    
}

::placeholder {
    color: rgba(218, 218, 218, 0.781);

}


.contact-form textarea {
    margin-bottom: 2%;
    margin-top: 2%;
    color: white;
    font-size: 1.2em;
    margin-top: 2%;
    border: none;
    border-radius: 10px;
    background-color: rgba(168, 168, 168, 0.281);
    border: 2px solid rgba(218, 218, 218, 0.781);   

    resize: none;
    width: 500px;
    height: 150px;
    padding-top: 20px;
    padding-left: 25px;
    margin-top: 2%;
    overflow: scroll;
    overflow-x: hidden;








}

.contact-form button {

    border: none;
    border-radius: 10px;
    background-color: rgb(157, 235, 63);
    color: white;
    font-size: 2.2em;
    margin-bottom: 8%;
    justify-self: center;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

button:hover {
    background-color: rgba(158, 235, 63, 0.541);
    color: gray;
  
  }

.contact-form input:focus ~ .placeholder {
    top: -90px;
    right: -80px;
    color:rgb(107, 185, 13);
    transition: top .8s;
    display: flex;
    
  }


  .contact-form textarea:focus ~ .placeholder {
    top: -210px;
    right: -80px;
    outline: none;
    color:rgb(107, 185, 13);
    transition: top .8s;
    display: flex;
    
  }


@media screen and (max-width: 379px) and (min-width: 200px) { 



    .bodyformblock {
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        
    }
    

    


    .contacttext h1{
        color: white;
        font-size: 1.8em;
        text-align: center;
        justify-self: center;
        margin-top: 5%;
        
    }
    
    .contacttext p{
        color: rgb(187, 255, 93);
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 2%;
        margin-left: 10%;
        justify-self: center;
        max-width: 80%;
        margin-bottom: 10%;
    
       
    }
    
    
    .formblock {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    
    
    
    .material-symbols-outlined.infoicon {
        font-size: 2em;
        color: white;
        position: relative;
        top: 20px;
        right: -140px;
        
      
      }
    
      .material-symbols-outlined.textareaicon {
        font-size: 2em;
        color: white;
        position: relative;
        top: 0px;
        right: -140px;
        
      
      }
    
    
    .contact-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;

    
        
    
    }
    
    .contact-form input{
    
        color: white;
        width: 300px;
        height: 50px;
        background-color: rgba(168, 168, 168, 0.281);
        font-size: 1.2em;
        border: 2px solid rgba(218, 218, 218, 0.781);   
        border-radius: 10px;
        padding-left: 25px;
        margin-bottom: 2%;
        margin-top: 8%;
        
        
    }
    
    
    
    
    input:focus {
        outline: none;
        border: 2px solid rgb(107, 185, 13);
        overflow: hidden;
    }
    
    
    .contact-form textarea:focus {
        outline: none;
        border: 2px solid rgb(107, 185, 13);
    }
    
    
    
    input:focus::placeholder {
        color: transparent;
      }
    
    
    .placeholder {
        color: rgba(218, 218, 218, 0.781);
        position: relative;
        font-size: 1em;
        font-weight: 500;
        top: -65px;
        right: -60px;
        pointer-events: none;
        cursor: default;
        display: none;
        
    }
    
    ::placeholder {
        color: rgba(218, 218, 218, 0.781);
    
    }
    
    
    .contact-form textarea {
        margin-bottom: 2%;
        margin-top: 2%;
        color: white;
        font-size: 1.2em;
        margin-top: 2%;
        border: none;
        border-radius: 10px;
        background-color: rgba(168, 168, 168, 0.281);
        border: 2px solid rgba(218, 218, 218, 0.781);   
    
        resize: none;
        width: 300px;
        height: 150px;
        padding-top: 20px;
        padding-left: 25px;
        margin-top: 5%;
        overflow: scroll;
        overflow-x: hidden;
    
    
    
    
    
    
    
    
    }
    
    .contact-form button {
    
        border: none;
        border-radius: 10px;
        background-color: rgb(157, 235, 63);
        color: white;
        font-size: 2.2em;
        margin-bottom: 8%;
        justify-self: center;
        text-transform: uppercase;
        padding: 10px 60px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-left: -5%;

    }
    
    button:hover {
        background-color: rgba(158, 235, 63, 0.541);
        color: gray;
      
      }
    
    .contact-form input:focus ~ .placeholder {
        top: 0px;
        right: -30px;
        color:rgb(107, 185, 13);
        transition: top .8s;
        display: flex;
        
      }
    
    
      .contact-form textarea:focus ~ .placeholder {
        top: 0px;
        right: -30px;
        outline: none;
        color:rgb(107, 185, 13);
        transition: top .8s;
        display: flex;
        
      }


















    
  }


  @media screen and (max-width: 720px) and (min-width: 380px) { 



    .bodyformblock {
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        
    }
    

    


    .contacttext h1{
        color: white;
        font-size: 1.8em;
        text-align: center;
        justify-self: center;
        margin-top: 5%;
        
    }
    
    .contacttext p{
        color: rgb(187, 255, 93);
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 2%;
        margin-left: 10%;
        justify-self: center;
        max-width: 80%;
        margin-bottom: 10%;
    
       
    }
    
    
    .formblock {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    
    
    
    .material-symbols-outlined.infoicon {
        font-size: 2em;
        color: white;
        position: relative;
        top: -40px;
        right: -170px;
        
      
      }
    
      .material-symbols-outlined.textareaicon {
        font-size: 2em;
        color: white;
        position: relative;
        top: -190px;
        right: -170px;
        
      
      }
    
    
    .contact-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-left: -5%;

    
        
    
    }
    
    .contact-form input{
    
        color: white;
        width: 300px;
        height: 50px;
        background-color: rgba(168, 168, 168, 0.281);
        font-size: 1.2em;
        border: 2px solid rgba(218, 218, 218, 0.781);   
        border-radius: 10px;
        padding-left: 25px;
        margin-bottom: 2%;
        margin-top: 8%;
        
        
    }
    
    
    
    
    input:focus {
        outline: none;
        border: 2px solid rgb(107, 185, 13);
        overflow: hidden;
    }
    
    
    .contact-form textarea:focus {
        outline: none;
        border: 2px solid rgb(107, 185, 13);
    }
    
    
    
    input:focus::placeholder {
        color: transparent;
      }
    
    
    .placeholder {
        color: rgba(218, 218, 218, 0.781);
        position: relative;
        font-size: 1em;
        font-weight: 500;
        top: -65px;
        right: -60px;
        pointer-events: none;
        cursor: default;
        display: none;
        
    }
    
    ::placeholder {
        color: rgba(218, 218, 218, 0.781);
    
    }
    
    
    .contact-form textarea {
        margin-bottom: 2%;
        margin-top: 2%;
        color: white;
        font-size: 1.2em;
        margin-top: 2%;
        border: none;
        border-radius: 10px;
        background-color: rgba(168, 168, 168, 0.281);
        border: 2px solid rgba(218, 218, 218, 0.781);   
    
        resize: none;
        width: 300px;
        height: 150px;
        padding-top: 20px;
        padding-left: 25px;
        margin-top: 9%;
        overflow: scroll;
        overflow-x: hidden;
    
    
    
    
    
    
    
    
    }
    
    .contact-form button {
    
        border: none;
        border-radius: 10px;
        background-color: rgb(157, 235, 63);
        color: white;
        font-size: 2.2em;
        margin-bottom: 8%;
        justify-self: center;
        text-transform: uppercase;
        padding: 10px 60px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-left: 7%;

    }
    
    button:hover {
        background-color: rgba(158, 235, 63, 0.541);
        color: gray;
      
      }
    
    .contact-form input:focus ~ .placeholder {
        top: 0px;
        right: -30px;
        color:rgb(107, 185, 13);
        transition: top .8s;
        display: flex;
        
      }
    
    
      .contact-form textarea:focus ~ .placeholder {
        top: 0px;
        right: -30px;
        outline: none;
        color:rgb(107, 185, 13);
        transition: top .8s;
        display: flex;
        
      }


















    
  }


@media screen and (max-width: 1020px) and (min-width: 721px) {


    .bodyformblock {
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        
    }
    
    .contacttext h1{
        color: white;
        font-size: 3em;
        text-align: center;
        justify-self: center;
        margin-top: 5%;
        
    }
    
    .contacttext p{
        color: rgb(187, 255, 93);
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 2%;
        margin-left: 10%;
        justify-self: center;
        max-width: 80%;
        margin-bottom: 10%;
    
       
    }
    
    
    .formblock {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(226, 252, 190, 0.4) 5px 5px, rgba(226, 252, 190, 0.3) 10px 10px, rgba(226, 252, 190, 0.2) 15px 15px, rgba(226, 252, 190, 0.1) 20px 20px, rgba(226, 252, 190, 0.05) 25px 25px;    
        background-color: rgba(214, 214, 214, 0.178);
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 20%;
        margin-top: 10%;
    }
    
    
    
    .material-symbols-outlined.infoicon {
        font-size: 2em;
        color: white;
        position: relative;
        top: 10px;
        right: 10px;
        
      
      }
    
      .material-symbols-outlined.textareaicon {
        font-size: 2em;
        color: white;
        position: relative;
        top: -80px;
        right: 10px;
        
      
      }
    
    
    .contact-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    
    
        
    
    }
    
    .contact-form input{
    
        color: white;
        width: 500px;
        height: 50px;
        background-color: rgba(168, 168, 168, 0.281);
        font-size: 1.2em;
        border: 2px solid rgba(218, 218, 218, 0.781);   
        border-radius: 10px;
        padding-left: 25px;
        margin-bottom: 2%;
        margin-top: 2%;
    
        
        
    }
    
    
    
    
    input:focus {
        outline: none;
        border: 2px solid rgb(107, 185, 13);
        overflow: hidden;
    }
    
    
    .contact-form textarea:focus {
        outline: none;
        border: 2px solid rgb(107, 185, 13);
    }
    
    
    
    input:focus::placeholder {
        color: transparent;
      }
    
    
    .placeholder {
        color: rgba(218, 218, 218, 0.781);
        position: relative;
        font-size: 1em;
        font-weight: 500;
        top: -65px;
        right: -60px;
        pointer-events: none;
        cursor: default;
        display: none;
        
    }
    
    ::placeholder {
        color: rgba(218, 218, 218, 0.781);
    
    }
    
    
    .contact-form textarea {
        margin-bottom: 2%;
        margin-top: 2%;
        color: white;
        font-size: 1.2em;
        margin-top: 2%;
        border: none;
        border-radius: 10px;
        background-color: rgba(168, 168, 168, 0.281);
        border: 2px solid rgba(218, 218, 218, 0.781);   
    
        resize: none;
        width: 500px;
        height: 150px;
        padding-top: 20px;
        padding-left: 25px;
        margin-top: 2%;
        overflow: scroll;
        overflow-x: hidden;
    
    
    
    
    
    
    
    
    }
    
    .contact-form button {
    
        border: none;
        border-radius: 10px;
        background-color: rgb(157, 235, 63);
        color: white;
        font-size: 2.2em;
        margin-bottom: 8%;
        justify-self: center;
        text-transform: uppercase;
        padding: 10px 60px;
        font-weight: 500;
        letter-spacing: 2px;

    }
    
    button:hover {
        background-color: rgba(158, 235, 63, 0.541);
        color: gray;
      
      }
    
    .contact-form input:focus ~ .placeholder {
        top: -90px;
        right: -80px;
        color:rgb(107, 185, 13);
        transition: top .8s;
        display: flex;
        
      }
    
    
      .contact-form textarea:focus ~ .placeholder {
        top: -210px;
        right: -80px;
        outline: none;
        color:rgb(107, 185, 13);
        transition: top .8s;
        display: flex;
        
      }




}



@media screen and (max-width: 1300px) and (min-width: 1024px) {
    .bodyformblock {
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        
    }
    
    .contacttext h1{
        color: white;
        font-size: 3em;
        text-align: center;
        justify-self: center;
        margin-top: 5%;
        
    }
    
    .contacttext p{
        color: rgb(187, 255, 93);
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 2%;
        margin-left: 10%;
        justify-self: center;
        max-width: 80%;
        margin-bottom: 10%;
    
       
    }
    
    
    .formblock {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(226, 252, 190, 0.4) 5px 5px, rgba(226, 252, 190, 0.3) 10px 10px, rgba(226, 252, 190, 0.2) 15px 15px, rgba(226, 252, 190, 0.1) 20px 20px, rgba(226, 252, 190, 0.05) 25px 25px;    
        background-color: rgba(214, 214, 214, 0.178);
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    
    
    
    .material-symbols-outlined.infoicon {
        font-size: 2em;
        color: white;
        position: relative;
        top: 10px;
        right: 10px;
        
      
      }
    
      .material-symbols-outlined.textareaicon {
        font-size: 2em;
        color: white;
        position: relative;
        top: -80px;
        right: 10px;
        
      
      }
    
    
    .contact-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    
    
        
    
    }
    
    .contact-form input{
    
        color: white;
        width: 500px;
        height: 50px;
        background-color: rgba(168, 168, 168, 0.281);
        font-size: 1.2em;
        border: 2px solid rgba(218, 218, 218, 0.781);   
        border-radius: 10px;
        padding-left: 25px;
        margin-bottom: 2%;
        margin-top: 2%;
    
        
        
    }
    
    
    
    
    input:focus {
        outline: none;
        border: 2px solid rgb(107, 185, 13);
        overflow: hidden;
    }
    
    
    .contact-form textarea:focus {
        outline: none;
        border: 2px solid rgb(107, 185, 13);
    }
    
    
    
    input:focus::placeholder {
        color: transparent;
      }
    
    
    .placeholder {
        color: rgba(218, 218, 218, 0.781);
        position: relative;
        font-size: 1em;
        font-weight: 500;
        top: -65px;
        right: -60px;
        pointer-events: none;
        cursor: default;
        display: none;
        
    }
    
    ::placeholder {
        color: rgba(218, 218, 218, 0.781);
    
    }
    
    
    .contact-form textarea {
        margin-bottom: 2%;
        margin-top: 2%;
        color: white;
        font-size: 1.2em;
        margin-top: 2%;
        border: none;
        border-radius: 10px;
        background-color: rgba(168, 168, 168, 0.281);
        border: 2px solid rgba(218, 218, 218, 0.781);   
    
        resize: none;
        width: 500px;
        height: 150px;
        padding-top: 20px;
        padding-left: 25px;
        margin-top: 2%;
        overflow: scroll;
        overflow-x: hidden;
    
    
    
    
    
    
    
    
    }
    
    .contact-form button {
    
        border: none;
        border-radius: 10px;
        background-color: rgb(157, 235, 63);
        color: white;
        font-size: 2.2em;
        margin-bottom: 8%;
        justify-self: center;
        text-transform: uppercase;
        padding: 10px 60px;
        font-weight: 500;
        letter-spacing: 2px;
    }
    
    button:hover {
        background-color: rgba(158, 235, 63, 0.541);
        color: gray;
      
      }
    
    .contact-form input:focus ~ .placeholder {
        top: -90px;
        right: -80px;
        color:rgb(107, 185, 13);
        transition: top .8s;
        display: flex;
        
      }
    
    
      .contact-form textarea:focus ~ .placeholder {
        top: -210px;
        right: -80px;
        outline: none;
        color:rgb(107, 185, 13);
        transition: top .8s;
        display: flex;
        
      }
    



}